/*========== BASE ==========*/
*,::before,::after{
box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}

body{
font-family: Helvetica, sans-serif;
font-size: var(--normal-font-size);
background-color: var(--body-color);
color: var(--text-color);
line-height: 1.6;
}

a {
    text-decoration: none;
}

/* Bài tập 1 */
.homework-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    max-width: 1024px;
    text-align: center;
}
.homework-title {
    font-weight: 700;
    text-align: center;
}
.homework-content {
    display: flex;
    flex-direction: column;
}
.input-container {
    display: flex;
    justify-content: center;
}
.input {
    width: 200px;
    margin-right: 20px;
    padding: 5px 10px;
}
.button {
    width: 100px;
    margin-top: 20px;
    padding: 5px 0;
}
.result {
    width: 200px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solix blue;
    text-align: left;
}

/* Bài tập 2 */
.homework2-container {
    margin-bottom: 100px;
    margin-top: 100px;
    width: 100%;
}
.calculator {
    background: black;
    border-radius: 50px;
    color: white;
    padding: 20px;
    position: relative;
    max-width: 400px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .calculator-value {
    font-size: 60px;
    font-weight: 300;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
  }
  
  .buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .button3 {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 40px;
    justify-content: center;
    transition: filter .3s;
  }
  .button3:hover {
      background-color: gray;
  }
  
  .button3.function {
    color: black;
    background: #a5a5a5;
  }
  .button3.function:hover {
    background-color: white;
    color: black;
  }
  
  .button3.operator {
    background: #f1a33c;
  }
  .button3.operator:hover {
    background-color: white;
    color: #f1a33c;
  }
  
  .button3.number-0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
  }
  
  .button3:active,
  .button3:focus {
    filter: brightness(120%);
  }
  
  
  